body {
  margin: 0;
  min-height: 100vh;
  background-image: url('../images/miku-large.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}


@media (min-width: 600px) {
  body {
    background-image: url('../images/miku-medium.jpeg');
  }
}


@media (min-width: 1200px) {
  body {
    background-image: url('../images/miku-large.jpeg');
  }
}


@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  body {
    background-image: url('../images/miku-small@2x.jpeg');
  }

  @media (min-width: 600px) {
    body {
      background-image: url('../images/miku-medium@2x.jpeg');
    }
  }

  @media (min-width: 1200px) {
    body {
      background-image: url('../images/miku-large@2x.jpeg');
    }
  }
}

.site-header {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 1rem;
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.main-nav a {
  text-decoration: none;
  color: #333;
  padding: 0.5rem 1rem;
}